/* base.scss - example composition. Will be converted --> base.min.css (and base.css for debugging) */
/* reset.scss - CSS reset */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Noto+Sans:400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/* base.scss - variables for Sass */
html {
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif; }

body {
  text-rendering: optimizeSpeed;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Open Sans", sans-serif;
  color: rgba(18, 18, 18, 0.92);
  background: #f4f4f4; }

p {
  max-width: 66ch;
  line-height: 1.5;
  margin: 0 0 1em;
  hyphens: auto;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 1.5rem; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.8em; }

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote {
  font-style: italic;
  font-size: 1.2em;
  padding: 5%; }

blockquote:before {
  content: "\201C";
  display: inline-block;
  padding-right: .4em; }

ul {
  list-style: inside;
  margin-left: 1em; }

@media print {
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; } }
.siteNavigation-links {
  display: block;
  background: rgba(18, 18, 18, 0.92);
  font-family: "Noto Sans", sans-serif; }

.siteNavigation-logo {
  width: 33%;
  display: inline;
  vertical-align: middle;
  padding-left: -2px;
  text-align: center;
  overflow: visible;
  height: auto; }

.siteNavigation-link {
  display: inline-block;
  width: 33%;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  color: #f7f7f7;
  font-size: .8rem;
  font-weight: bold; }
.siteNavigation-link:visited {
  color: #f7f7f7; }
.siteNavigation-link[data-s="active"] {
  color: #2db3d4; }

header {
  background-image: url("../media/sea-quantiacs-banner.PNG");
  background-size: cover;
  background-position: center;
  height: 101vh; }

.banner {
  padding: 10vh 2rem 20vh 2rem; }

.banner-title {
  display: block;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 1.15rem;
  color: #f7f7f7;
  max-width: 50ch;
  margin: 0 auto 1.5rem; }

.banner-description {
  color: white;
  box-sizing: border-box;
  max-width: 50ch;
  margin: 0 auto 3rem auto; }

.banner-cta, .missed-cta, .mentorship-connect {
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #f7f7f7;
  max-width: 20ch;
  padding: .75rem 0;
  background-color: #2db3d4;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif; }

.missed {
  padding: 15vh 1rem;
  font-weight: bold;
  margin: -1px 0;
  background-color: #003d87;
  background-image: url("../media/interview_prep_1.png");
  background-size: cover;
  font-family: "Noto Sans", sans-serif;
  background-position: bottom;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0); }

.missed-text {
  display: block;
  text-align: center;
  color: #f7f7f7;
  font-size: 1.25rem;
  margin-bottom: 2rem; }

.missed-cta {
  background-color: #7957f5; }

.mentorship {
  padding: 7rem 1rem;
  margin: -1px 0;
  position: relative; }
.mentorship svg {
  display: inline-block;
  width: 4rem;
  height: auto;
  position: absolute;
  text-align: center; }

svg.team {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  fill: url(#bluegradient) #333;
  width: 6rem; }

.mentorship-title {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 0.75rem; }

.mentorship-description {
  display: block;
  margin-bottom: 1.5rem;
  text-align: center; }

.mentorship-connect {
  background-color: #a586fa; }

.projects {
  display: block;
  position: relative;
  margin-top: 10vh;
  padding: 0 1rem 10vh 1rem; }
.projects svg {
  width: 4rem;
  height: auto;
  position: absolute; }

svg.projects-icon {
  top: -17%;
  left: 50%;
  transform: translateX(-50%);
  fill: url(#bluegradient) #333;
  width: 6rem; }

.projects-title {
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 1.5rem; }

.projects-all {
  display: block;
  opacity: 0.8;
  text-align: center;
  font-weight: bold; }

.project {
  display: block;
  margin: 0 auto 3rem auto;
  padding: 0.75rem 1rem 1.5rem 1rem;
  background: #fff;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to left, #B721FF 0%, #21D4FD 100%);
  border-image-slice: 1;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.18);
  max-width: 40ch; }

.project-title {
  letter-spacing: -1px;
  font-size: 1.35rem;
  margin-bottom: 0.375rem; }

.project-by {
  opacity: .7;
  display: block;
  margin-bottom: 1.5rem; }

.project-link {
  display: block; }

.siteNavigation-links {
  background: transparent; }

.directory {
  background: rgba(18, 18, 18, 0.92);
  padding: 3rem 2rem; }

.directory-title {
  color: gray;
  display: block;
  margin-bottom: 0.75rem; }

.directory-link {
  display: block;
  color: #f7f7f7;
  text-decoration: none;
  font-weight: bold;
  padding: 0.375rem 0;
  margin-bottom: 0.75rem; }
.directory-link:visited {
  color: #f7f7f7; }

@media screen and (min-width: 1000px) {
  ::-moz-selection {
    background: #14BAEA; }
  ::selection {
    background: #14BAEA; }

  ::-moz-selection {
    background: #14BAEA; }

  body {
    font-size: 1.25em; }

  .siteNavigation {
    background: rgba(18, 18, 18, 0.92); }

  .siteNavigation-logo {
    padding-left: 0; }

  .siteNavigation-links {
    padding: 0;
    display: block;
    background: transparent;
    margin: 0 auto;
    max-width: 65ch; }

  .siteNavigation-link {
    width: 16.5%;
    font-size: 1rem;
    border-bottom: 0.375rem solid transparent;
    transition-property: border-bottom;
    transition: .15s all ease-in-out; }
  .siteNavigation-link:hover {
    border-bottom: 0.375rem solid #2db3d4; }

  body {
    overflow-x: hidden; }

  .banner {
    padding: 10vh 25vw 50vh 25vw; }

  .banner-title {
    font-size: 1.5rem; }

  .banner-description {
    font-size: 1.5rem; }

  .banner-cta {
    background-color: #269ab7;
    transition-property: background-color;
    transition: .15s all ease-in-out; }
  .banner-cta:hover {
    background-color: #2db3d4; }

  .missed {
    padding: 30vh 2rem; }

  .missed-text {
    font-size: 2rem;
    display: block;
    text-align: center; }

  .missed-cta {
    transition-property: background-color;
    transition: .15s all ease-in-out; }
  .missed-cta:hover {
    background-color: #a586fa; }

  .mentorship {
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
    padding-top: 10rem;
    display: block;
    margin-bottom: 6rem; }

  .mentorship-title {
    letter-spacing: -2px;
    padding-top: 0.75rem; }

  svg.team {
    top: 11%;
    width: 10rem; }

  .mentorship-connect {
    transition-duration: .25s;
    transition-timing-function: ease-out;
    transition-property: transform;
    background-color: #7957f5; }
  .mentorship-connect:hover {
    background-color: #a586fa;
    transform: translateY(-1px); }

  .projects {
    padding: 10vh 2rem 20vh 2rem; }

  svg.projects-icon {
    top: -10%;
    width: 8rem; }

  .projects-title {
    margin-bottom: 3rem;
    padding-top: 1rem; }

  .project, .projects-all {
    transition-duration: .25s;
    transition-timing-function: ease-out; }

  .project {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-right: 1rem;
    margin-left: 1rem;
    transition-property: border-bottom, transform;
    border-image: none;
    border-bottom: 10px solid #fff; }
  .project:nth-child(odd):hover {
    border-image: linear-gradient(to left, #21D4FD 0%, #B721FF 100%); }
  .project:hover {
    border-image: linear-gradient(to left, #B721FF 0%, #21D4FD 100%);
    border-image-slice: 1;
    transform: translateY(-2px);
    border-bottom: 10px solid transparent; }

  .project-title {
    font-size: 1.2rem; }

  .projects-all {
    display: inline-block;
    width: 30%;
    opacity: 0.8;
    margin-top: 4rem;
    vertical-align: text-top;
    color: #21D4FD;
    transition-property: font-size; }
  .projects-all:hover {
    font-size: 1.35rem; }

  .siteNavigation {
    background-image: url("../media/sea-quantiacs-banner.PNG");
    background-size: cover;
    background-position: top; }

  .directory-links, .directory-title {
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans", sans-serif; }

  .directory-title {
    margin-bottom: 1.5rem; }

  .directory-link {
    font-size: .9rem;
    vertical-align: middle;
    border-left: 0.375rem solid transparent;
    margin-left: -1.125rem;
    padding-left: 0.75rem;
    transition-property: border-left;
    transition: .15s all ease-in-out;
    color: gray; }
  .directory-link:hover {
    color: #f7f7f7;
    border-left: 0.375rem solid #2db3d4; } }
