/* base.scss - example composition. Will be converted --> base.min.css (and base.css for debugging) */
/* reset.scss - CSS reset */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Noto+Sans:400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/* base.scss - variables for Sass */
html {
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif; }

body {
  text-rendering: optimizeSpeed;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Open Sans", sans-serif;
  color: rgba(18, 18, 18, 0.92);
  background: #f4f4f4; }

p {
  max-width: 66ch;
  line-height: 1.5;
  margin: 0 0 1em;
  hyphens: auto;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 1.5rem; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.8em; }

q, blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote {
  font-style: italic;
  font-size: 1.2em;
  padding: 5%; }

blockquote:before {
  content: "\201C";
  display: inline-block;
  padding-right: .4em; }

ul {
  list-style: inside;
  margin-left: 1em; }

@media print {
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; } }
.siteNavigation-links {
  display: block;
  background: rgba(18, 18, 18, 0.92);
  font-family: "Noto Sans", sans-serif; }

.siteNavigation-logo {
  width: 33%;
  display: inline;
  vertical-align: middle;
  padding-left: -2px;
  text-align: center;
  overflow: visible;
  height: auto; }

.siteNavigation-link {
  display: inline-block;
  width: 33%;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  color: #f7f7f7;
  font-size: .8rem;
  font-weight: bold; }
.siteNavigation-link:visited {
  color: #f7f7f7; }
.siteNavigation-link[data-s="active"] {
  color: #2db3d4; }

.events {
  display: block;
  margin: 3rem 1rem; }
.events h2 {
  letter-spacing: -3px;
  text-align: center;
  opacity: 0.5;
  font-size: 3rem; }

.eboard-link {
  padding: 2rem 1rem 0 1rem;
  display: block;
  max-width: 50ch;
  margin: 0 auto;
  text-align: center; }

.event {
  display: block;
  margin-bottom: 4.5rem; }

.event-title {
  margin-bottom: 0.375rem;
  letter-spacing: -1px; }

.event-image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 55ch; }

.event-date, .event-location {
  display: block;
  color: rgba(18, 18, 58, 0.5);
  font-weight: bold;
  margin-bottom: 0; }

.event-text {
  margin-top: 0.75rem; }

.event-text-urgent {
  color: orangered;
  font-weight: bold; }

.event-notes {
  color: gray;
  display: block;
  margin-top: -.8rem;
  font-size: .8rem; }

.event-agenda {
  display: block;
  list-style: square inside;
  margin: 1.5rem 0 3rem 4rem; }

.event-agendaTitle {
  font-size: 1rem; }

.directory {
  background: rgba(18, 18, 18, 0.92);
  padding: 3rem 2rem;
  clear: both; }

.directory-title {
  color: gray;
  display: block;
  margin-bottom: 0.75rem; }

.directory-link {
  display: block;
  color: #f7f7f7;
  text-decoration: none;
  font-weight: bold;
  padding: 0.375rem 0;
  margin-bottom: 0.75rem; }
.directory-link:visited {
  color: #f7f7f7; }

@media screen and (min-width: 1000px) {
  ::-moz-selection {
    background: #14BAEA; }
  ::selection {
    background: #14BAEA; }

  ::-moz-selection {
    background: #14BAEA; }

  body {
    font-size: 1.25em; }

  .siteNavigation {
    background: rgba(18, 18, 18, 0.92); }

  .siteNavigation-logo {
    padding-left: 0; }

  .siteNavigation-links {
    padding: 0;
    display: block;
    background: transparent;
    margin: 0 auto;
    max-width: 65ch; }

  .siteNavigation-link {
    width: 16.5%;
    font-size: 1rem;
    border-bottom: 0.375rem solid transparent;
    transition-property: border-bottom;
    transition: .15s all ease-in-out; }
  .siteNavigation-link:hover {
    border-bottom: 0.375rem solid #2db3d4; }

  .events {
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem; }

  .directory-links, .directory-title {
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans", sans-serif;
    clear: both; }

  .directory-title {
    margin-bottom: 1.5rem; }

  .directory-link {
    font-size: .9rem;
    vertical-align: middle;
    border-left: 0.375rem solid transparent;
    margin-left: -1.125rem;
    padding-left: 0.75rem;
    transition-property: border-left;
    transition: .15s all ease-in-out;
    color: gray; }
  .directory-link:hover {
    color: #f7f7f7;
    border-left: 0.375rem solid #2db3d4; } }
