/* base.scss - example composition. Will be converted --> base.min.css (and base.css for debugging) */
@import "../partials/reset";
@import "../partials/variables";
@import "../partials/typography";

@import "../modules/siteNavigation";
@import "../modules/members";
@import "../modules/directory";

@media screen and (min-width: $res-tablet) {
    ::selection {
        background: $selection-color;
    }
    ::-moz-selection {  
        background: $selection-color;
    }
    
    body {
        font-size: 1.25em;
    }

    @import "../modules/desktop_siteNavigation";
    @import "../modules/desktop_members";
    @import "../modules/desktop_directory";
}