/* base.scss - variables for Sass */
$heading-fonts: "Poppins", sans-serif;
$body-fonts: "Open Sans", sans-serif;

$text-light: #f7f7f7;
$text-dark: rgba(18, 18, 18, 0.92);

$text-grey: gray;

$selection-color: #14BAEA;

$res-desktop: 1400px;
$res-tablet: 1000px;