.about {
	display: block;
	margin: $base-line-height*2 1rem $base-line-height*2 1rem;
}

.about-text {
	margin-bottom: $base-line-height*2;
}

.about-image {
	display: block;
	width: auto;
	margin: 0 0 $base-line-height/2 0;
	height: 12rem;
	border-radius: 2%;
}

.about-bit {
	display: block;
	margin-bottom: $base-line-height;
}