body {
  overflow-x: hidden;
}

.banner {
  padding: 10vh 25vw 50vh 25vw;
}

.banner-title {
	font-size: 1.5rem;
}

.banner-description {
	font-size: 1.5rem;
}

.banner-cta {
	background-color: #269ab7;
	transition-property: background-color;
	transition: .15s all ease-in-out;
	&:hover {
		background-color: #2db3d4;
	}
}

.missed {
	padding: 30vh 2rem;
}

.missed-text {
	font-size: 2rem;
	display: block;
	text-align: center;
}

.missed-cta {
	transition-property: background-color;
	transition: .15s all ease-in-out;
	&:hover {
		background-color: #a586fa;
	}
}

.mentorship {
	margin-left: auto;
	margin-right: auto;
	max-width: 60ch;
	padding-top: 10rem;
	display: block;
}

.mentorship-title {
	letter-spacing: -2px;
	padding-top: $base-line-height/2;
}

svg.book {
	opacity: 1;
	top: 2%;
	left: 5%;
	width: 8rem;
	-webkit-transform: rotateY(15deg);
	transform: rotateZ(15deg);
	opacity: .7;
}

svg.team {
	top: 11%;
	width: 10rem;
}

svg.code {
	opacity: 1;
	top: 2%;
	left: 76%;
	right: 0;
	width: 8rem;
	-webkit-transform: rotateY(-15deg);
	transform: rotateZ(-15deg);
	opacity: .7;
}


// HEADER OVERRIDES
.siteNavigation {
	background-image: url("../media/sea-quantiacs-banner.PNG");
	background-size: cover;
	background-position: top; 
}