body {
  overflow-x: hidden;
}

.banner {
  padding: 10vh 25vw 50vh 25vw;
}

.banner-title {
	font-size: 1.5rem;
}

.banner-description {
	font-size: 1.5rem;
}

.banner-cta {
	background-color: #269ab7;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-out;
	&:hover {
		background-color: #2db3d4;
	}
}

.missed {
	padding: 30vh 2rem;
}

.missed-text {
	font-size: 2rem;
	display: block;
	text-align: center;
}

.missed-cta {
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-out;
	&:hover {
		background-color: #a586fa;
	}
}

.mentorship {
	margin-left: auto;
	margin-right: auto;
	max-width: 60ch;
	padding-top: 10rem;
	display: block;
	margin-bottom: $base-line-height*4;
}

.mentorship-title {
	letter-spacing: -2px;
	padding-top: $base-line-height/2;
}

svg.team {
	top: 11%;
	width: 10rem;
}


.mentorship-connect {
	transition-duration: .25s;
	transition-timing-function: ease-out;
	transition-property: transform;
	background-color: #7957f5;
	&:hover {
		background-color: #a586fa;
		transform: translateY(-1px);
	}
}

.projects {
	padding: 10vh 2rem 20vh 2rem;
}

svg.projects-icon {
	top: -10%;
	width: 8rem;
}

.projects-title {
	margin-bottom: .75rem;
	padding-top: 1rem;
}

.projects-description {
	max-width: 60ch;
	margin:  0 auto $base-line-height auto;
}

.project, .projects-all {
	transition-duration: .25s;
	transition-timing-function: ease-out;
}

.project {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin-right: 1rem;
	margin-left: 1rem;
	transition-property: border-bottom, transform;
	border-image: none;
	border-bottom: 10px solid #fff;
	&:nth-child(odd):hover {
	  border-image: linear-gradient(to left, #21D4FD 0%, #B721FF 100%);
	}
	&:hover {
		border-image: linear-gradient(to left, #B721FF 0%, #21D4FD 100%);
  		border-image-slice: 1;
		transform: translateY(-2px);
		border-bottom: 10px solid transparent;
	}
}

.project-title {
	font-size: 1.2rem;
}

.projects-all {
	display: block;
	width: 40%;
	opacity: 0.8;
	margin: 4rem auto 0 auto;
	vertical-align: text-top;
	transition-property: font-size;
	&:hover {
		font-size: 1.35rem;
	}
}



// HEADER OVERRIDES
.siteNavigation {
	background-image: url("../media/sea-github-intro-banner.PNG");
	background-size: cover;
	background-position: top; 
}