.join {
	max-width: 55ch;
	margin-left: auto;
	margin-right: auto;
}

.join-view, .join-description {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.join-chapter {
	margin-bottom: $base-line-height*4;
}

.join-description {
}

.join-flip {
	padding-left: 0;
}