.directory-links, .directory-title {
	max-width: 55ch;
	margin-left: auto;
	margin-right: auto;
}

.directory-title {
	margin-bottom: $base-line-height;
}

.directory-link {
	font-size: .9rem;
	vertical-align: middle;
	border-left: $base-line-height/4 solid transparent;
	margin-left: -($base-line-height*3)/4;
	padding-left: $base-line-height/2;
	transition-property: border-left;
	transition: .15s all ease-in-out;
	color: $text-grey;
	&:hover {
		color: $text-light;
		border-left: $base-line-height/4 solid #2db3d4;
	}
}