.events {
	display: block;
	margin: $base-line-height*2 1rem;
	h2 {
		letter-spacing: -3px;
		text-align: center;
		opacity: 0.5;
		font-size: 3rem;
	}
}

.event {
	display: block;
	margin-bottom: $base-line-height*3;
}

.event-title {
	margin-bottom: $base-line-height/4;
	letter-spacing: -1px;
}

.event-image {
	display: block;
	width: 100%;
	height: auto;
	max-width: 55ch;
}

.event-date, .event-location {
	display: block;
	color: rgba(18, 18, 58, 0.5);
	font-weight: bold;
	margin-bottom: 0;
}

.event-text {
	margin-top: $base-line-height/2;
}

.event-text-urgent {
	color: orangered;
	font-weight: bold;
}

.event-notes {
	color: $text-grey;
	display: block;
	margin-top: -.8rem;
	font-size: .8rem;
}

.event-agenda {
	display: block;
	list-style: square inside;
	margin: $base-line-height 0 $base-line-height*2 4rem;
}

.event-agendaTitle {
	font-size: 1rem;
}