body {
  padding: 0;
  background-image: url("../media/sea-side-projects-banner.PNG");
  background-size: cover;
  background-position: top; 
}

.banner {
  padding: 10vh 2rem 20vh 2rem;
}

.banner-title {
  display: block;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 1.15rem;
  color: $text-light;
  max-width: 50ch;
  margin: 0 auto $base-line-height; 
}

.banner-description {
  color: white;
  box-sizing: border-box;
  max-width: 50ch;
  margin: 0 auto $base-line-height*2 auto;
}

.banner-cta {
	display: block;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: $text-light;
	max-width: 20ch;
	padding: .75rem 0;
	background-color: #2db3d4;
	margin: 0 auto;
}

// HEADER OVERRIDES

.siteNavigation-links {
  background: transparent;
}