.join {
	display: block;
	margin: $base-line-height*2 1rem;
}

.join svg {
	width: 2rem;
	display: inline-block;
	height: 2rem;
	margin-right: 1rem;
	fill: #2db3d4;
	vertical-align: middle;
}

.join-email {
	display: block;
	margin-bottom: $base-line-height;
}

.join-benefitList {
	display: block;
	margin-bottom: $base-line-height;
	list-style: none;
	margin-left: 0;
}

.join-benefit {
	color: $text-grey;
	margin-bottom: 1rem;
}

.join-chapter, .join-view, .join-description {
	display: block;
	line-height: 1.15;
}

.join-image {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: $base-line-height/2;
}

.join-title {
	margin-bottom: $base-line-height/4;
	letter-spacing: -1px;
}

.join-description {
	margin-bottom: $base-line-height*2;
}
