.learn {
	display: block;
	margin: $base-line-height*2 1rem $base-line-height*2 1rem;
}

.learn-text {
	margin-bottom: $base-line-height;
}

.learn-big {
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	margin: $base-line-height 0 0 0;
}

.learn-bit {
	display: block;
	margin-bottom: $base-line-height;
}

.mentor {
	display: block;
	margin-bottom: $base-line-height;
}

.mentor-name {
	margin-bottom: $base-line-height/2;
}

.mentor-description {
	margin-bottom: $base-line-height/2;
}

.mentor-title {
	color: #2db3d4;
}

.mentor:last-of-type {
	margin-bottom: $base-line-height*2;
}

