.log {
	display: block;
	margin: $base-line-height*2 1rem;
}

.log-entry {
	display: block;
	margin-bottom: $base-line-height*2;
}

.log-date {
	color: $text-dark;
	font-weight: bold;
	font-size: .8rem;
}

.log-credit {
	color: $text-grey;
	display: block;
	margin-top: -.8rem;
	font-size: .8rem;
}

.log-purpose {
	display: block;
	margin-bottom: $base-line-height;
	color: $text-grey;
}