@media screen and (min-width: $res-tablet) {
    ::selection {
        background: $selection-color;
    }
    ::-moz-selection {  
        background: $selection-color;
    }
    
    body {
        font-size: 125%;
    }
}