.siteNavigation-links {
	display: block;
	background: $text-dark;
}

.siteNavigation-logo {
	width: 33%;
	display: inline;
	vertical-align: middle;
	padding-left: -2px;
	text-align: center;
	overflow: visible;
	height: auto;
}

.siteNavigation-link {
	display: inline-block;
	width: 33%;
	padding: $base-line-height/1.5 0;
	text-align: center;
	text-decoration: none;
	color: $text-light;
	font-size: .8rem;
	font-weight: bold;
	&:visited {
		color: $text-light;
	}
	&[data-s="active"] {
		color: #2db3d4;
	}
}