.contents {
	list-style: none;
	display: block;
	margin: $base-line-height 1rem 0 1rem;
}

.content {
	margin-bottom: 0px;
}

.works {
	display: block;
	margin: $base-line-height 1rem $base-line-height*2 1rem;
}

.works-title {
	display: block;
	margin-bottom: $base-line-height;
}

.work {
	display: block;
	margin-bottom: $base-line-height*2;
}

.work-title {
	letter-spacing: -1px;
}

.work-lead {
	font-size: 1.25rem;
	color: $text-grey;
}

.work-topics, .work-skills {
	display: block;
}