.contents, .contents-inner {
	list-style: none;
	display: block;
	margin: $base-line-height 1rem 0 1rem;
}

.contents-inner {
	margin-top: 0;
	margin-left: 1.1rem;
	margin-bottom: .5rem;
}

.content {
	margin-bottom: 5px;
}

.content-title {
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: bold;
}

.works {
	display: block;
	margin: $base-line-height 1rem $base-line-height*2 1rem;
}

.works-title {
	display: block;
	margin-bottom: $base-line-height;
}

.work {
	display: block;
	margin-bottom: $base-line-height*2;
}

.work-title {
	letter-spacing: -1px;
}

.work-image {
	width: 100%;
	display: block;
	max-width: 35ch;
}

.work-link {
	display: block;
	font-weight: bold;
}

.work-lead {
	font-size: 1.25rem;
	color: $text-grey;
}

.work-topics, .work-skills {
	display: block;
}